<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Welcome to the Carmaket!</title>
  </head>
  <body>
    <h1>Welcome to the Carmaket, <%= @user.email %>!</h1>
    <p>Thank you for signing up.</p>
  </body>
</html>
