<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
       This is your profile, <%= @user.email %>! It will be upgraded soon!
      </h1>
    </section>
  </aside>
  </div>
