<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Stats Email</title>
  </head>
  <body>
    <h1>Statistics</h1>
    <p>Here are some statistics:</p>
    <ul>
      <li>Number of posts: <%= @post_count %></li>
      <li>Last published was: <%= @last_published %></li>
      <li>Number of comments: <%= @comment_count %></li>
    </ul>
  </body>
</html>
