/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  background-color: #e5f4ff;
  color: #227ba2;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 60px;
}

.header {
  background-color: #abdfff;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none; 
  color: #227ba2;
}

.btn {
  width: 5.5rem;
  padding: 10px 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: .5s;
  background-color: #c9e9ff;
  border: 1px solid #8ad4ff;
  transition: 0.5s;
  color: #227ba2;
  font-size: 1em;
  text-align: center;
}

.dark-btn:hover {
  box-shadow: 0px 0px 10px 5px #abdfff;
}

.light-btn:hover {
  box-shadow: 0px 0px 10px 2px #e5f4ff;
}

.submit-btn {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

textarea {
  width: 300px;
  height: 121px;
  resize: none;
}

input,
#form-body,
#form-title,
#post-body {
  padding: 10px 10px !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  background-color: #c9e9ff !important;
  border: 1px solid #8ad4ff !important;
  color: #227ba2 !important;
  outline: none !important;
  font-size: 1em !important;
  transition: .5s !important;
}

input:hover {
  box-shadow: 0px 0px 10px 2px #e5f4ff;
}

.form-file {
  width: 92%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-wrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

.post {
  list-style: none;
  background-color: #abdfff;
  padding: 20px;
  border: 2px solid #8ad4ff;
  border-radius: 15px;
  transition: .5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post:hover {
  box-shadow: 0px 0px 10px 5px #abdfff;
}

.post-title {
  margin: 0 0 10px 0;
}

.post-img {
  width: 400px;
  height: 350px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.post-body {
  width: 300px;
  height: max-content;
  text-align: center;
  margin-bottom: 10px;
}

.edit-btn,
.show-btn {
  margin-bottom: 10px;
}

.delete-btn {
  width: 6.8rem;
  margin-bottom: 10px;
}

.comment-title {
  margin: 25px 0 0 10px;
}

.comment-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-title {
  margin-bottom: 5px;
}

.create-btn {
  width: 10rem;
}

.pagination {
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
margin-top: 20px
}

